@import "/src/styles/variables";

.option {
  position: relative;
  width: 100%;
  padding: .5rem;
  cursor: pointer;

  &.hide-radio > input[type="radio"] {
    visibility: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    background: $bg-input-hover;
    color: $fg-input-hover;
  }

  &:has(:checked) {
    background: $bg-input-selected;
    color: $fg-input-selected;
    cursor: default;
  }
}
