// colors
$bg-main: var(--bg-main);
$fg-main: var(--fg-main);

$bg-popover: var(--bg-popover);
$fg-popover: var(--fg-popover);

$bg-input: var(--bg-input);
$fg-input: var(--fg-input);

$bg-input-hover: var(--bg-input-hover);
$fg-input-hover: var(--fg-input-hover);

$bg-input-selected: var(--bg-input-selected);
$fg-input-selected: var(--fg-input-selected);

$bg-input-disabled: var(--bg-input-disabled);
$fg-input-disabled: var(--fg-input-disabled);