// colors
$bg-main: var(--bg-main);
$fg-main: var(--fg-main);

$bg-input: var(--bg-menu);
$fg-input: var(--fg-menu);

$bg-input-hover: var(--bg-input-hover);
$fg-input-hover: var(--fg-input-hover);

$bg-input-selected: var(--bg-input-selected);
$fg-input-selected: var(--fg-input-selected);

$bg-input-disabled: var(--bg-input-disabled);
$fg-input-disabled: var(--fg-input-disabled);